.skills-grid-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-bottom: 20px;
}
.skill-item{
    min-width: 150px;
    max-width: 250px;
    min-height: 160px;
    max-height: 240px;
    padding: 10px 20px 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--text-color) 1px solid;
    border-radius: 15px;
    box-shadow: inset 0px 0px 15px 0px #5763c5;
}
.skill-item:hover{
    border: var(--text-shadow) 1px solid;
    animation: skill 0.23s cubic-bezier(0, -1.51, 1, 2.1) alternate forwards;
    & span{
        color: var(--text-color);
    }
}
.skill-img-container{
    width: 100%;
    height: 90%;
    
}
.skill-img-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.skill-item span{
    font-size: 1rem;
    font-weight: 700;
    color: var(--ancor-color);
    margin-top: 10px;
    text-shadow: 2px 2px 4px var(--text-shadow);
}
@keyframes skill {
    0%{
        transform: scale(1);
        opacity: 0.5;
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.);
    }
}
@media screen and (max-width: 520px) {
    .skills-grid-container{
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
    .skill-item{
        min-width: 100px;
        max-width: 150px;
    }
}