*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border: 0;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
:root{
  --primary-color: #b2e3ca;
  --secondary-color: #6a7b69;
  --terceary-color: #484944;
  --fourth-color: #efe9e7;
}
ul{
  list-style-type: none;
}
body{
  background-color: var(--primary-color);
}